
@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Kategori Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post)) 
{ 
<div class="form-group">

    @Html.HiddenFor(m => m.CategoryID, new { @class = "form-control" })
    @Html.Label("kategori adı")
    @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
    @Html.Label("açıklama")
    @Html.TextAreaFor(m => m.CategoryDescription, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>

</div>



}
