
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1 class="text-center">İstatistikler</h1>
<br />
<div class="card-deck text-center">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Toplam Kategori Sayısı</div><br />
        <div class="card-body">
            <h3 class="card-text">@ViewBag.SumCategori</h3>
        </div>
    </div>
    <div class="card text-white bg-cyan mb-3" style="max-width: 18rem;">
        <div class="card-header">Başlık tablosunda "yazılım" kategorisine ait başlık sayısı</div>
        <div class="card-body">
            <h3 class="card-text">@ViewBag.HeadYazilimSum</h3>
        </div>
    </div>
    <div class="card text-white bg-green mb-3" style="max-width: 18rem;">
        <div class="card-header">Yazar adında 'a' harfi geçen yazar sayısı</div>
        <div class="card-body">
            <h3 class="card-text">@ViewBag.WriterCount</h3>
        </div>
    </div>
    <div class="card text-white bg-red mb-3" style="max-width: 18rem;">
        <div class="card-header">En fazla başlığa sahip kategori adı</div><br />
        <div class="card-body">
            <h3 class="card-text">@ViewBag.MaxCategoryName</h3>
        </div>
    </div>
    <div class="card text-white bg-yellow mb-3" style="max-width: 18rem;">
        <div class="card-header">Kategori tablosunda durumu true olan kategoriler ile false olan kategoriler arasındaki sayısal fark</div>
        <div class="card-body">
            <h3 class="card-text">@ViewBag.CategoryMaxMinDifference</h3>
        </div>
    </div>
</div>

